@model Options.Models.ViewModel

<div class="form-group row">
    <div class="col-md-4">
        <div>
            <p></p>
            <input id="ticker" placeholder="enter ticker" />
            <button id="searchTickerBtn" class="btn btn-primary" onclick="searchTicker()">Search <span class="glyphicon glyphicon-search"></span></button>
        </div>
    </div>

    <div class="col-md-8">
        <p id="headerId" class="form-control-static"> </p>
        <input id="askId" type="hidden" />
    </div>
</div>

@{ 
    if (Model == null)
    { return; }
}

<div>
    <label>Expiration Date:</label>
    <select id="expDateId"></select>
    @*<select id="expDateId" onchange="loadStrikes()"></select>*@

    <label>Strike:</label>
    <select id="strikeId"></select>
    @*<select id="strikeId" onchange="loadOptionQuotes();callPremiumChanged()"></select>*@
</div>


<div>
    <table id="quoteTableId" class="table table-bordered table-condensed table-hover"></table>
</div>


<div>
    <label><strong>Low Prices</strong></label>
    <table id="historicalPricessId" class="table table-bordered table-condensed table-hover col-sm-push-6"></table>
</div>


<div class="row">
    <div class="col-md-6">
        <table id="statementTableId" class="table table-bordered table-condensed table-striped table-hover"></table>
    </div>

    <div class="col-md-6">
        <form class="form-horizontal">
            <div class="form-group form-group-sm">
                <label id="growthRateId" class="col-md-5  text-right">Projected Ebitda Growth % </label><input class="col-md-3" id="projectedEbitdaGrowthId" disabled />@*<label class=" col-md-2 text-right"><input id="projectedEbitdaGrowthCheckId" type="checkbox" value="">     Freeze</label>*@
            </div>
            <div class="form-group form-group-sm">
                <label id="projectedEbitdaFormulaId" class="col-md-5  text-right">Projected Ebitda </label><input class="col-md-3" id="projectedEbitdaId" />@*<label class=" col-md-2 text-right"><input id="projectedEbitdaCheckId" type="checkbox" value="">     Freeze</label>*@
            </div>
            <div class="form-group">
                <label id="projectedNumOfSharesFormulaId"  class="col-md-5   text-right">Projected Wtd Avg Dilt Shares </label><input class="col-md-3" id="projectedNumOfSharesId" />@*<label class="  col-md-2 text-right"><input id="projectedNumOfSharesCheckId" type="checkbox" value="">     Freeze</label>*@
            </div>
            <div class="form-group">
                <label class="col-md-5   text-right">Share Price </label><input class="col-md-3" id="sharePriceId" />@*<label class="  col-md-2 text-right"><input id="sharePriceCheckId" type="checkbox" value="">     Freeze</label>*@
            </div>
            <div class="form-group">
                <label class="col-md-5  text-right">Call Premium </label><input class="col-md-3" id="callPremiumId" />@*<label class="  col-md-2 text-right"><input id='callPremiumCheckId' type="checkbox" value="">     Freeze</label>*@
            </div>
            <div class="form-group">
                <label class="col-md-5  text-right">Liab minus Crnt Assets </label><input class="col-md-3" id="lblMinusCurrAssId" />@*<label class="  col-md-2 text-right"><input id="lblMinusCurrAssCheckId" type="checkbox" value="">     Freeze</label>*@
            </div>
            <div class="form-group">
              
                <label id="buyingPriceFormulaId"  class="col-md-5   text-right">Buying Price </label><input class="col-md-3" id="buyingPriceId" /><button id="resetId" type="button" class="col-xs-offset-1 col-xs-2 btn btn-primary btn-sm">Reset</button>
            </div>
            <div class="form-group">
                
                <label id="cashFlowFormulaId"  class="col-md-5  text-right">Cash Flow Multiple </label><input class="col-md-3" id="cashFlowMultipleId" /> <button id="recalculateId"  type="button" class="col-xs-offset-1 col-md-2 btn btn-primary btn-sm">Re-Caculate</button>
            </div>
           
        </form>
    </div>
</div>




<script>
    var jsonDates = @Html.Raw(Model.TickerContainer.JsonExpirationDatesArray)
    var jsonStrikes = @Html.Raw(Model.TickerContainer.JsonStrikesDictionary)
    var jsonContainer =  @Html.Raw(Model.TickerContainer.JsonCallDictionary)
    var jsonQuoteObject =  @Html.Raw(Model.TickerContainer.JsonQuoteObject)
    var historicalPrices = @Html.Raw(Model.JsonHistoricalPrices)
    var jsonFiscalYears = @Html.Raw(Model.JsonFiscalYears)
    var jsonStatements = @Html.Raw(Model.JsonStatements)
    var JsonStatementTable = @Html.Raw(Model.JsonStatementTable)
     var ReportUrl =  "@Html.UrlEncoder.Encode(Model.Report10KUrl)"
</script>


