@model Options.Models.ViewModel

<br />

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <input id="ticker" placeholder="enter ticker" />
            <button id="searchTickerBtn" onclick="searchTicker()">Search <span class="glyphicon glyphicon-search"></span></button>
        </div>


        <div class="col-sm-6">
            <div id="shortNameId"></div>
            <div id="pricesId"></div>
            <div id="bidAskId"></div>
            <a href="@Model.Report10KUrl">10-K</a>
        </div>
    </div>
</div>
<br />
<div>
    <label>Expiration Date:</label>
    <select id="expDateId" onchange="loadStrikes()"></select>

    <label>Strike:</label>
    <select id="strikeId" onchange="loadOptionQuotes()"></select>
</div>

<div>

</div>

<table id="quoteTableId" class="table table-bordered table-condensed col-sm-push-6">
   
</table>

<br />

<table id="historicalPricessId" class="table table-bordered table-condensed col-sm-push-6">
    
</table>

<br />

<table id="fiscalYearsId" class="table table-bordered table-condensed col-sm-push-6"></table>

<br />

<table id="statementTableId" class="table table-bordered table-condensed col-sm-push-6"></table>

<script>
    var jsonDates = @Html.Raw(Model.TickerContainer.JsonExpirationDatesArray)
    var jsonStrikes = @Html.Raw(Model.TickerContainer.JsonStrikesDictionary)
    var jsonContainer =  @Html.Raw(Model.TickerContainer.JsonCallDictionary)
    var jsonQuoteObject =  @Html.Raw(Model.TickerContainer.JsonQuoteObject)

    var historicalPrices = @Html.Raw(Model.JsonHistoricalPrices)

    var jsonFiscalYears = @Html.Raw(Model.JsonFiscalYears)
    var jsonStatements = @Html.Raw(Model.JsonStatements)

    var JsonStatementColoumnHeaders = @Html.Raw(Model.JsonStatementColoumnHeaders)

    var JsonStatementTable = @Html.Raw(Model.JsonStatementTable)
</script>



<!--
    PANEL EXAMPLE

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <input id="ticker" placeholder="enter ticker" />
                <button class="btn btn-link col-lg-pull-2" id="searchButton" type="button">Search  <span class="glyphicon glyphicon-search"></span></button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="expirationWidget" class="row"></div>
        </div>
    </div>
</div>

-->
