@model Options.Models.ViewModel

<div class="form-group row">
    <div class="col-md-4">
        <div>
            <p></p>
            <input id="ticker" placeholder="enter ticker" />
            <button id="searchTickerBtn" class="btn btn-primary" onclick="searchTicker()">Search <span class="glyphicon glyphicon-search"></span></button>
        </div>
    </div>

    <div class="col-md-4">
        <p id="headerId" class="form-control-static"> </p>
        <input id="askId" type="hidden" />
        <input id="lastPriceId" type="hidden" />
        <input id="bidId" type="hidden" />
        <input id="regPriceId" type="hidden" />

    </div>

    <div class="col-md-4">
        <table id="dividendTableId" class="table table-bordered table-condensed">

            <thead>
                <tr>
                    <th>Dividend Ex Date</th>
                    <th>Dividend</th>
                    <th>Periods</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="divExDateId">N/A</td>
                    <td id="divAmountId">N/A</td>
                    <td id="divPeriodId">N/A</td>
                    <td id="divTotalId">N/A</td>

                </tr>
            </tbody>
        </table>
    </div>


</div>

<div class="row">
    <div class="col-md-9">
        <table id="statementTableId" spellcheck="false" class="table table-bordered table-condensed table-striped table-hover"></table>
    </div>





</div>

@{
    if (Model == null)
    { return; }
}

<div class="form-group row">
    <div class="col-md-2">
        <label>Expiration Date:</label>
        <select id="expDateId"></select>
    </div>
    <div class="col-md-1">
        <label>Strike:</label>
        <select id="strikeId"></select>
    </div>

</div>


<div class="form-group row">
    <div class="col-md-3">
        <table id="quoteTableId" class="table table-bordered table-condensed"></table>
    </div>



    <div style="padding-top:20px" class="col-md-2">
        <a class="btn btn-danger btn-block" disabled><span id="lossRateId" class="badge"></span></a>
    </div>

    <div style="padding-top:20px" class="col-md-2">
        <a class="btn btn-warning btn-block" disabled><span id="rorId" class="badge"></span></a>
    </div>

    <div style="padding-top:20px" class="col-md-2">
        <a class="btn btn-success btn-block" disabled><span id="maxRateId" class="badge"></span></a>
    </div>

</div>


<div class="form-group row">
    <div class="col-md-2">
        <label>Expiration Date:</label>
        <select id="putExpDateId"></select>
    </div>
    <div class="col-md-1">
        <label>Strike:</label>
        <select id="putStrikeId"></select>
    </div>

</div>


<div class="form-group row">
    <div class="col-md-3">
        <table id="putQuoteTableId" class="table table-bordered table-condensed"></table>
    </div>

    <div style="padding-top:20px" class="col-md-1">
        <a class="btn btn-danger btn-block" disabled><span id="putLossRateId" class="badge"></span></a>
    </div>

    <div style="padding-top:20px" class="col-md-1">
        <a class="btn btn-warning btn-block" disabled><span id="putRorId" class="badge"></span></a>
    </div>

    <div style="padding-top:20px" class="col-md-1">
        <a class="btn btn-success btn-block" disabled><span id="putMaxRateId" class="badge"></span></a>
    </div>

</div>









<script>
    var jsonDates = @Html.Raw(Model.TickerContainer.JsonExpirationDatesArray)
    var jsonStrikes = @Html.Raw(Model.TickerContainer.JsonStrikesDictionary)
    var jsonContainer =  @Html.Raw(Model.TickerContainer.JsonCallDictionary)
    var jsonQuoteObject =  @Html.Raw(Model.TickerContainer.JsonQuoteObject)
     var historicalPrices = @Html.Raw(Model.JsonHistoricalPrices)
    var jsonFiscalYears = @Html.Raw(Model.JsonFiscalYears)
    var JsonStatementTable = @Html.Raw(Model.JsonStatementTable)
     var ReportUrl = "@Html.UrlEncoder.Encode(Model.Report10KUrl)"
    var jsonDividendString = @Html.Raw(Model.JsonDividendInfo)
    var jsonPutContainer = @Html.Raw(Model.TickerContainer.JsonPutDictionary)
    var numOfYearsProjected = @Html.Raw(Model.NumberOfYearsProjected)
</script>


